In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('last_rebalancing.csv')

In [7]:
df

  Unnamed: 0    amount board
0       RUSB      28.0  TQTF
1       FXGD    2096.0  TQTF
2       FXDE     380.0  TQTF
3       FXCN     206.0  TQTF
4       FXKZ     982.0  TQTF
5       FXUS     135.0  TQTF
6       FXIT      46.0  TQTF
7       FXTB     944.0  TQTF
8       TIPO   47114.0  TQTD
9       TECH  100000.0  TQTD

In [8]:
# need to create a dataset using DSS.